body {
    background-color: black;
}
.container {
    background-image: linear-gradient(to right, rgb(32, 81, 100), rgb(18, 18, 88) );
    width: 700px;
    height: 90vh;
    margin: auto;
    color: #fff;
}
.scores {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.score {
    padding: 0 15px;
    background-color: rgb(6, 175, 175);
    color: black;
}
.text-result,
.round-container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    width: 500px;
    margin: 120px auto;
    font-size: 20px;
}
.gameplay {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.gameplay img {
    width: 100px;
    margin: 0 10px;
    border-radius: 50%;
}

.gameplay img:active {
    background-color: rgb(6, 175, 175);
}
